<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<style>
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    @media(min-aspect-ratio: 16/9){
        .back{
            width: 100%;
            height: auto;
        }
    }
    .back{
       position:absolute;
       top: 0;
       right: 0;
       bottom: 0;
       z-index: -1;
       
    }
    .heading{
        text-align: center;
        margin-top: 15%;
    }
</style>
<body>
    {{>navbar}}

    <div class="container-fluid mt-5 about-style" id="heroid">
        
        <div  class="row">
            
            <div class="col-md-15 col-15 mx-auto">
                <div class="row">
                    <video autoplay loop muted plays-inline class="back"> <source src="images/vdo.mp4"></video>
                    <div class=" heading col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center aligh-items-left flex-column">
                        <h1>WE WILL HELP YOU TO</h1>
                        <h1>GROW YOUR BUSINESS</h1>
                        <p>We Are The Team Of<span class="bold-style"> Professionals</span></p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>

                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>about}}

    {{>service}}

    {{>experties}}

    {{>contact}}

   <script src="../jq/jquery.js" type="text/javascript"></script> 
   <script src="../js/bootstrap.js" type="text/javascript"></script> 
</body>
</html>