<style>
    #aboutid{
        margin-top: 14%;
        
    }
   
    .about{
        padding: 1%;
        background-image: linear-gradient(-45deg, #49d0da 0%, #210c59 50%);
    }
</style>

<div class="container-fluid   about-style" id="aboutid">
        <div  class="row">
            <div class="col-md-15 col-15 mx-auto" >
                <h1 class="about text-center main-heading">About Us</h1>
                <p class="essay text-center sub-heading" >At Media Guidance, our aim is to transform your online presence into a powerful brand asset. We believe in the idea that every click, like, and share should contribute to your business success. We're your storytellers in the digital space, scripting success with every content.</p>
                <div class="row">
                     <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="images/sl_012322_48100_15.jpg" width="100%">
                            
                        </figure>
                    </div>
                    

                   <div class=" heading col-md-6 col-12 hero-text d-flex justify-content-center aligh-items-left flex-column">
                        <h1>WE ARE THE PROFESSIONALS</h1>
                        
                        <p class="esay">Welcome To <span class="bold-style">Media Guidance</span>. Your Number One Source For All Things. We're Dedicated To Giving You The Very Best Of Work. With A focus On three Characteristics i.e Dependability, Customer Service And Uniqueness.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>