<div class="container-fluid navbar-style">
        <div  class="row">
            
                
            
                <nav class="navbar navbar-expand-lg  bg-none">
                <a class="navbar-brand" href="/" id="logo">Media Guidance</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <style>
                .navbar-nav{
                    margin-left: auto;
                }
                navbar{
                    background: none;
                }
                #navbarSupportedContent{
                     background: none;
                }
                .navbar-brand{
                    text-align: left;
                }
   
                </style>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ">
        <li class="nav-item active">
        <a class="nav-link" href="#">Home </span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#aboutid">About</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="#serviceid">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#experticeid">Our Experties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactid">Contact</a>
      </li>
      
    </ul>
  </div>
</nav>
        
    </div>
</div>