<style>
    .pad{
        padding: 0.5%;
}
.servic{
     background-image: linear-gradient(-45deg, #f33474 0%, #f55b2a 50%);
}

#serviceid:hover{
    margin-top: 0%;
     background-image: linear-gradient(-45deg, #49d0da 0%, #fefdff 50%);
}
</style>
<div class="container-fluid about-style" id="serviceid">
        <div  class="row">
            <div class="col-md-15 col-15 mx-auto">
                <h1 class="servic text-center main-heading">Our Services</h1>
                <p class="essay text-center sub-heading" ></p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/insta.jpg" width="25%">
                                   
                                </div>
                                <h4>Instagram</h4>
                                 <hr>
                                    <p class="pad">Short-form content is the future. At BrandFlowMedia, we craft your journey to getting viral on Insta with end-to-end management. We provide in-house production and confident creators who excel at hooking audiences.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/download.png" width="25%">
                                    
                                </div>
                                <h4>LinkedIn</h4>
                                <hr>
                                    <p class="pad">Let's make your brand standout with a full personalized profile optimization. We specialize in crafting creative banners and informative carousels. Our content includes strong CTA, strategic keywords, and engaging stories.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/X.png" width="25%">
                                    
                                </div>
                                <h4>X</h4>
                                <hr>
                                    <p class="pad">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, odio. Soluta quasi officiis fugit ullam dolorem maxime repellendus nobis laborum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/youtube.png" width="25%">
                                    
                                </div>
                                <h4>YouTube</h4>
                                <hr>
                                    <p class="pad">Let your brand story resonate with your target audience through our creative storytelling. From detailed research, scripting, and high production quality to seamless editing and insightful analytics, we've got your back.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>